albumentations==1.2.0
imageio==2.19.3
jupyter==1.0.0
matplotlib==3.5.2
pandas==1.4.3
seaborn==0.11.2
scikit-image==0.18.3
scikit-learn==1.1.1
scipy==1.8.1
tensorflow==2.9.1
tifffile==2022.5.4
tqdm==4.64.0
